{% include "header.html" %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
  
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-2.jpg);">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown"><span>Delicious</span> fooding</h2>
                  <p class="animate__animated animate__fadeInUp"> We are committed to continuously improving and expanding our application, 
                    incorporating user feedback, and staying at the forefront of culinary innovation. 
                    Our goal is to be your trusted companion on your culinary journey, inspiring you to push boundaries, 
                    try new ingredients, and create unforgettable dining experiences for yourself and your loved ones.</p>
                  <div>
                    <form  method="get">
                      
                      <input type="text" name="recipe_name" placeholder="Search...">
                      <input type="submit" value="Search">
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>
    
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>
    
          </div>
        </div>
      </section><!-- End Hero -->
      <div class="container mt-5">

<!--
        <form class="col-6 mx-auto card" method="post" enctype="multipart/form-data" action="{% url 'rec' %}">
           {% csrf_token %}
          <div class="mb-3">
            <label  class="form-label">Recipe Name</label>
            <input type="text" class="form-control" name="recipe_name">
          </div>
          <div class="mb-3">
            <label  class="form-label">Recipe Introduction</label>
            <textarea class="form-control"  name="recipe_intro"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" >Recipe ingredients</label>
            <textarea class="form-control" name="ingredients"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" >How to make:</label>
            <textarea class="form-control" name="making"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" >Nutrition Values</label>
            <textarea class="form-control" name="nut"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" >Proteins:</label>
            <textarea class="form-control" name="protein"></textarea>
          </div>
          <div class="mb-3">
            <label  class="form-label">Recipe image</label>
            <input type="file" class="form-control" name="recipe_image">
          </div>
          
          <button type="submit" class="btn btn-primary">Add recipe</button>
          
        </form>
      </div>
-->

      
      <main id="main">

        <body>
         <br>
     
         <section id="menu" class="menu">
           <div class="container">
     
             <div class="section-title">
               <h2>Check our tasty <span>Menu</span></h2>
             </div>

  </div>
  <div class="row menu-container">

    <div class="col-lg-6 menu-item filter-starters">
      <div class="menu-content">
        {% for recipe in recipeData %}
        <a href="{% url 'recipe_details' %}?recipe_name={{ recipe.recipe_name }}">{{ recipe.recipe_name }} <br> </a>
        <br>
        <br>
        {% endfor %}
      </div>
      <div class="menu-ingredients">
        Lorem, deren, trataro, filede, nerada
      </div>
    </div>
</section>
{% endblock %}
